body{
    background-color:beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;
}

#txt2, #txt1{
    font-size:35px ;
    font-weight: 600;
    text-align: center;
    color: red;
    margin: 10px;
}
#txt1{
    width: 50px;
    background-color: yellow;
    font-size:50px ;
    font-weight: 600;
    text-align: center;
    color: red;
    margin: 1px auto 
}
#d1, #d2{
    justify-content:right;
    margin-right: 5px;
    background-color: aqua;
    width: 135px;
    height: 115px;
    border-radius: 15px;
}
#d2{
    width: 215px;
}
#s1{
    display: flex;
    justify-content: center;
}
.lab{
   color: blue;
   font-size: 18px;
}
.rad{
  margin-top: 15px;  
  width: 25px;
  height: 25px;
}
.sel{
    font-size: 18px;
    color: blue;
    font-weight: 600;
    background-color: white;
    width: 160px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px 1px 1px 25px;
}
#stg{
    color: green;
}
#ng:hover{
    background-color: rgba(0, 153, 255, 0.651);
    border: 3px solid black;
    cursor: pointer;
    color:RED
}
#stg:hover{
    background-color: greenyellow;
    border: 3px solid black;
    cursor: pointer;
    color:RED
}
#s2{
    background-color: aqua;
    width: 339px;
    height: 339px;
    border-radius: 20px;
    margin: 5px auto ;
    padding: 10px;
}
.area{
    font-size: 100px;
    color: white;
    font-weight: 800;
    justify-content: center;
    background-color: white;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    border: 1px solid black;
    display: inline-flex
}
.area:hover{
    background-color: rgba(0, 153, 255, 0.938);
    color: rgba(0, 153, 255, 0.596);;
    border: 3px solid black;
    cursor: pointer;
}




